
@media (min-width:768px) {
    .modal-dialog {
        width: 700px !important;
        margin: 30px auto;       
    }
}

.modal-fixheight
{
    height:480px;
    overflow-x:hidden;
    overflow-y:scroll;
}

.form .form-actions, .portlet-form .form-actions {  
    background-color: #fff !important;    
}

.notification
{
    color:red !important;
}