.waiting-text {
        z-index: 1000011;
        position: fixed;
        padding: 0px;
        margin: 0px;
        width: 30%;
        top: 40%;
        left: 35%;
        text-align: center;
        color: rgb(0, 0, 0);
        border: 3px solid rgb(170, 170, 170);
        background-color: rgb(255, 255, 255);
        cursor: wait;
    }
        #Loader
        {  
            background-color:#000;
            opacity:        0.6 ;
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 1000;
            
       }

