/*#divTradingWindowClosureNotification {
    animation: slide-left 40s ease-in-out infinite forwards;
    position: absolute;
    font-size: 15px;
    font-weight: 600;
    font-family: Arial;
    z-index: 1;
    color: #940020;
}

@keyframes slide-left {
    from {
        margin-left: 100%;
    }

    to {
        margin-left: -100%;
    }
}

.slide-left {
    overflow: hidden;
}*/
marquee {
    padding-top: 10px;
    font-size: 15px;
    font-weight: 600;
    font-family: Arial;
    color: #940020;
}
.required {
    color: red !important;
}

.TFtable {
    width: 100%;
    border-collapse: collapse;
}

.TFtable th {
   padding: 7px;
   border: #dddddd 1px solid;
}

.TFtable td {
    padding: 7px;
    border: #dddddd 1px solid;
}


/* provide some minimal visual accomodation for IE8 and below */
.TFtable tr {
    background: #f2f4f7;
    font-size: 12px;
}

/*  Define the background color for all the ODD background rows  */
.TFtable tr:nth-child(odd) {
    background: #f2f4f7;
}
/*  Define the background color for all the EVEN background rows  */
.TFtable tr:nth-child(even) {
    background: #fff;
}

.My_Trade_PortletBox {
    background-color: #fdc04d !important;
/*    background-color: #4b11a8 !important;*/
}
